*{
    margin: 0;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 100px;
}
body{
    background-image: url("../Image/fontdog.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.article-container {
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem;
}

article{
    display: grid;
    flex-direction: column;
    width: 35rem;
    height: 40rem;
    border: 1px solid black;
    border-radius: 1.5%;
    background-color: blueviolet;
    text-align: center;
    
}   

img {
    margin-left: 15%;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
}

.buttonpets {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;


}

button{
    gap:100px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgba(0, 0, 255, 0.315);
    font-size: 19px;
    border-radius: 10px;
}

.fontpets{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    



@media (max-width:600px){

    header{
        font-size: 25px;
    }
    .article-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
        margin-left: -59px;
    }

    article {
        width: 100%;
        height: auto;
    }

    img {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    
}


