header{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    color: white;
    background-image: url(../Image/body.png);
}


.encabezado{
    
    font-size: 30px;
    background: linear-gradient(rgb(6, 67, 235), rgb(105, 105, 226));
    display: flex;
    align-items: center;
    justify-content:space-between
}

.logo{
    width: 10%;
    height: 10%;
    object-fit: cover;
    border-radius: 50%;
}
.nav li,.nav a{
    color:white;
    text-decoration: none;
    list-style: none;
    
}
.nav{
    display: flex;
    gap: 30px;
}

.activejs{
    font-family: serif;
    color: red;
    transition: all 0.6s;
}
#btn{
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgba(0, 0, 255, 0.315);
    font-size: 19px;
}

@media (max-width:600px){

    header{
        font-size: 15px;
    }
    .logo{
        width: 20%;
        height: 20%;
    }
    .nav{
        flex-direction: column;
        font-size: 12px;
        gap: 10px;
    }
    
}

